[Unit]
Description=X-DL Sync Timer
Requires=x-dl-sync.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Unit=x-dl-sync.service

[Install]
WantedBy=timers.target
